@import '../../styles/variables.scss';

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $green01;
    @include baseFontStyle;
    font-size: $font-size-button;

    &:hover {
        color: $yellow;
    }

    &:active {
        color: $pink;
    }
}

@media (max-width: 767.98px) {
    button {
        font-size: $font-size-mobile;
    }
  }
