@import '../../styles/variables.scss';

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $green01;
    @include baseFontStyle;

    &:hover {
        color: $yellow;
    }

    &:active {
        color: $pink;
    }
}