// @import url('https://fonts.cdnfonts.com/css/gt-america-trial');

// $bodyFontFamily: 'GT America Trial', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@200;300;400;500;600;700&display=swap');

$bodyFontFamily: 'Fahkwang', sans-serif;

$baseFontStyle: medium;
$baseFontWeight: 500;

/* Font-size */
$font-size-25: 25px;
$font-size-7: 70px;
$font-size-mobile: 2.5vw;
$font-size-mobile-title: 10vw;
$font-size-mobile-h3: 3vw;
$font-size-mobile-h2: 7vw;
$font-size-mobile-accent: 5.3vw;
$font-size-mobile-footer: 4.5vw;

/* Font-weight */
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400;
$font-weight-5: 500;
$font-weight-6: 600;
$font-weight-7: 700;
