@mixin baseFontStyle {
    font-family: $bodyFontFamily;
    font-weight: $baseFontWeight;
    font-size: $baseFontStyle;
}

@mixin displayFlexCenter {
    display: flex;
    align-items: center;
}

@mixin title-accent {
    color: $pink;
    font-weight: $font-weight-7;
}
