@import '../../styles/variables.scss';

footer {
    margin-top: 220px;

    p {
        color: $white;
        font-size: $font-size-25;
        font-weight: $font-weight-7;
    }

    .logos {
        @include displayFlexCenter;
        justify-content: space-between;
        width: 650px;
        margin-top: 60px;

        img {
            height: 20px;
        }
    }
}

@media (max-width: 767.98px) {
    footer {
        margin-top: 55.5vw;
        margin-left: -10vw;
        
        p {
            color: $pink;
            font-size: $font-size-mobile-footer;
        }

        .logos {
            width: 90vw;
            margin-top: 11vw;

            img {
                height: 3.2vw;
            }
        }


    }
  }
