@import '../../styles/variables.scss';

footer {
    margin-top: 14.2vw;

    p {
        color: $white;
        font-size: $font-size-17;
        font-weight: $font-weight-7;
    }

    .logos {
        @include displayFlexCenter;
        justify-content: space-between;
        width: 40vw;
        margin-top: 3.1vw;

        img {
            height: 1.4vw;
        }
    }
}

@media (max-width: 767.98px) {
    footer {
        margin-top: 59vw;
        margin-left: -10vw;
        
        p {
            color: $pink;
            font-size: $font-size-mobile-footer;
        }

        .logos {
            width: 92vw;
            margin-top: 14vw;

            img {
                height: 3.2vw;
            }
        }


    }
  }
