@import './styles/variables.scss';

body, html {
    margin: 0;
    padding: 0;
  }

.app {
    @include baseFontStyle;
    @include displayFlexCenter; 
    flex-direction: column;
}

.container {
    width: 80vw;
    height: 75vw;
    margin-top: -70vw;
    z-index: 99;

    .content {
        width: 35vw;

        h1 {
            color: $yellow;
            font-weight: $font-weight-3;
            font-size: $font-size-4;
            margin-top: 10vw;
            margin-bottom: 4vw;

            .title-accent {
                @include title-accent;
            }
        }

        .offert {
            color: $green04;
            position: absolute;
            left: 51vw;
            top: 15vw;

            .coin {
                background-color: $yellow;
                width: 5.1vw;
                height: 5vw;
                border-radius: 5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                font-weight: $font-weight-7;
                font-size: $font-size-2;
            }

            h2 {
                font-weight: 700;
                font-size: $font-size-4;
                margin-top: -10vw;
                margin-left: 3.3vw;

                .title-accent {
                    text-transform: uppercase;
                    transform: rotate(-90deg);
                    font-size: $font-size-17;
                    display: inline-block;
                    margin-left: -24.1vw;                
                }
            }

            h3 {
                margin-top: 2vw;
                margin-bottom: 3vw;
                font-size: $font-size-17;
                margin-left: 3.5vw;
                font-weight: 500;
            }
        }

        .cta {
            font-size: 1.5vw;
            font-weight: $font-weight-7;
            padding: 2vw 3vw 2vw 7vw;
            background-image: url('./resource/imgCTA.png');
            background-repeat: no-repeat;
            background-size: auto 100%;
            background-position: left;
            background-color: $yellow;
            color: $green04;
            box-shadow: 0.5vw 0.5vw 0 $pink;

            &:hover {
                transform: translateY(5px) translateX(5px);
                box-shadow: 5px 5px 0 $pink;
                color: $green04;
            }

            &:active {
                transform: translateY(10px) translateX(10px);
                box-shadow: 0 0 0 transparent;
                color: $green04;
            }
        }
    }

}

@media (max-width: 767.98px) {
    .app {
        .container {
            width: 100vw;
            height: 180vw;
            margin-top: -180vw;
            padding-left: 14vw;
            padding-right: 14vw;
            box-sizing: border-box;

            .content {
                width: 74vw;
        
                h1 {
                    font-size: $font-size-mobile-title;
                    margin-top: 2vw;
                    margin-left: -1vw;
                    margin-bottom: 0;
                }

                .offert {
                    position: static;
                    margin-top: 4.7vw;
                    color: $yellow;

                    .coin {
                        display: none;
                    }
                    
                    h3 {
                        margin-top: 0;
                        margin-left: 0;
                        font-size: $font-size-mobile-h3;
                        font-weight: $font-weight-3;
                    }

                    h2 {
                        margin-top: -4.5vw;
                        margin-left: 0;
                        font-size: $font-size-mobile-h2;

                        .title-accent {
                            @include title-accent;
                            font-size: $font-size-mobile-accent;
                            margin-left: -1.5vw;
                            transform: rotate(0);
                        }
                    }
                }
        
                .cta {
                    font-size: $font-size-mobile-h3;
                    padding: 3.5vw 5vw 3.5vw 12vw;
                    box-shadow: 1.5vw 1.5vw 0 #d2abe4;
                    background-size: 11vw;

                    &:hover {
                        transform: translateY(0) translateX(0);
                        padding: 3.5vw 5vw 3.5vw 12vw;
                        box-shadow: 1.5vw 1.5vw 0 #d2abe4;
                    }
        
                    &:active {
                        transform: translateY(1.5vw) translateX(1.5vw);
                        box-shadow: 0 0 0 transparent;
                    }
                }
            }
        }
    }

  }
