@import '../../styles/variables.scss';

.auth {
    @include displayFlexCenter;
    padding-bottom: 0.5vw;

    .get {
        margin-left: 2vw;
        background-color: $green04;
        padding: 1vw 2vw;
    }
}

@media (max-width: 767.98px) {
    .auth {
        .get {
            margin-left: 3vw;
            margin-right: -10vw;
            background-color: $pink;
            color: $green04;
            padding: 3vw 5vw;

            &:hover {
                color: $yellow;
            }
        
            &:active {
                background-color: $pink;
                opacity: .9;
            }
        }
    }
  }
