@import '../../styles/variables.scss';

.background {
  position: relative;

  canvas {
    width: 100vw;
    height: 75vw;
  }
}

.backgroundBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 65vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vw;
}